html, body {
  margin: 0;
  padding: 0.5rem;
}

body {
  font-size: 1rem;
  background: #fff;
}

h1 {
  margin: 0 0 1rem 0;
}

.panel {
  width: 100%;
  height: 100%;

  position: absolute;
  top: 0;
  left: 0;

  background: white;
}

.menu-option {
  height: 4rem;
  width: calc(100% - 2rem);
  margin: 1rem;
  border-radius: 2rem;
  font-size: 1.8rem;
  color: white;
}
